 <!-- Footer -->
        <div id="footer">
            <div class="grid wide">
                <div class="row">
                    <div class="col-6">
                        <div class="footer__contact">
                            <h3 class="footer__head" style="text-align: left;"> CÔNG TY TNHH TM DV ĐẦU TƯ VẠN PHÚ</h3>
                            <div class="footer__body">
                                <label for="">Địa chỉ:
                                    <a href="" class="footer__link-left">Weba.vn Đoàn Hải Plaza, Số 756 Trường Chinh, Tân Bình, Hồ Chí Minh</a>
                                </label>
                                <label for="">
                                    Hotline:<a href="" class="footer__link-left">0366361624</a>
                                </label>
                                <label for="">E-mail: <a href="" class="footer__link-left">nvvan.19it4@vku.udn.vn</a></label>
                            </div>
                            <img src=" <%= asset_path 'logo (1).png' %>" alt="" class="footer__link-img">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="footer__contact">
                            <div class="row">
                                <div class="col-4">
                                    <h3 class="footer__head">  DANH SÁCH MENU </h3>
                                    <ul class="footer__list">
                                        <li class="footer__item"><a href="" class="footer__link-right">Trang chủ</a></li>
                                        <li class="footer__item"><a href="" class="footer__link-right">Giỏ Hàng</a></li>
                                        <li class="footer__item"><a href="" class="footer__link-right">Thanh Toán</a></li>
                                        <li class="footer__item"><a href="" class="footer__link-right">Liên Hệ</a></li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <h3 class="footer__head"> DANH MỤC SẢN PHẨM</h3>
                                    <ul class="footer__list">
                                        <li class="footer__item"><a href="" class="footer__link-right">Hộp quà tết</a></li>
                                        <li class="footer__item"><a href="" class="footer__link-right">Giỏ quà tết</a></li>
                                        <li class="footer__item"><a href="" class="footer__link-right">Sản phẩm bán chạy</a></li>
                                        <li class="footer__item"><a href="" class="footer__link-right">Sản phẩm khác</a></li>
                                    </ul>
                                </div>
                                
                                <div class="col-4">
                                    <h3 class="footer__head"> HỖ TRỢ KHÁCH HÀNG</h3>
                                    <ul class="footer__list">
                                        <li class="footer__item"><a href="" class="footer__link-right">Hổ Trợ khách hàng</a></li>
                                        <li class="footer__item"><a href="" class="footer__link-right">Điều khoản & dịch vụ</a></li>
                                        <li class="footer__item"><a href="" class="footer__link-right">Hướng dẫn mua hàng</a></li>
                                        <li class="footer__item"><a href="" class="footer__link-right">Hổ Trợ khách hàng</a></li>
                                        <li class="footer__item"><a href="" class="footer__link-right">Điều khoản & dịch vụ</a></li>
                                        <li class="footer__item"><a href="" class="footer__link-right">Hướng dẫn mua hàng</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               

            </div>
            <div class="footer__and-footer">
                <div class="grid wide">
                    <div class="footer__info">               
                        <div class="footer__license">
                            &#169;  Copy all right <a href="" class="footer__link"> Công Ty TNHH Thương Mại Dịch Vụ Đầu Tư Vạn Phú</a>  2015 - 2019
                        </div>
                        <div class="footer__social">
                            <a href="" class="footer__link"> <i class="fab fa-facebook-square  footer__icon"></i></a>
                            <a href="" class="footer__link"> <i class="fab fa-google-plus-square footer__icon"></i></a>
                            <a href="" class="footer__link"> <i class="fab fa-twitter-square footer__icon"></i></a>
                            <a href="" class="footer__link"><i class="fab fa-youtube-square footer__icon"></i></a>
                            <a href="" class="footer__link"> <i class="fab fa-linkedin footer__icon"></i></a>
                        </div> 
                    </div>
                </div> 
            </div>
        </div>
        <!-- End Footer -->