 <!-- Slider -->
        <div id="slide">
        
            <div class="grid">
                <div class="slider ">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <%= image_tag("bannerso1.jpg") %>
                        </div>
                        <div class="item">
                            <%= image_tag("banner2.jpg") %>
                        </div>
                        <div class="item">
                            <%= image_tag("banner3.jpg") %>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="grid wide ">
                <div class="slide__wellcome hidden-on-mobile">
                    <div class="slide__info">
                        <h2 class="slide__heading">Wellcome  !!!</h2>
                        <p class="slide__text">
                            Công Ty TNHH Thương Mại Dịch Vụ Đầu Tư Vạn Phú
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slider -->